{% extends "_basetemplate.html" %}

{% block browserTitle %}
Par6Golf | Tour history
{% endblock %}



{% block content %}
<!-- COUNTDOWN CSS & JQUERY: This section contains the CSS and JQUERY files that power the Countdown-->
<!-- Note: JQUERY countdown comes from this page - http://keith-wood.name/countdownBasics.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.plugin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>

<div class="scrollContainer smoothScroll">


</div> <!-- End scroll container -->


{% endblock %}
