{% extends "_basetemplate.html" %}

{% block browserTitle %}

{% endblock %}

{% load static %}

<!-- This block section defines the ACTIVE MENU ITEMS in the menu bar (adjusted for each) -->
{% block menuItemHome %}
<a href="{% url 'landingpage' %}">
  <div class="menuIconHolder menuItemActive">
  <img id=menuIconHome src="{% static 'icons/menuHomeWhite.svg' %}"></div></a>
{% endblock %}

{% block menuItemPlayers %}
<!-- <a href="{% url 'register' %}"> -->
  <div class="menuIconHolder">
  <img id=menuIconPlayer src="{% static 'icons/menuPlayerGreen.svg' %}"></div>
<!-- </a> -->
{% endblock %}

{% block menuItemRegister %}
<a href="{% url 'register' %}">
  <div class="menuIconHolder">
  <img id=menuIconRegister src="{% static 'icons/menuRegisterGreen.svg' %}"></div></a>
{% endblock %}



{% block content %}
<!-- COUNTDOWN CSS & JQUERY: This section contains the CSS and JQUERY files that power the Countdown-->
<!-- Note: JQUERY countdown comes from this page - http://keith-wood.name/countdownBasics.html -->

<link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.plugin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>

<div class="scrollContainer smoothScroll">
<div class=contentBuffer20px></div>

  <!-- START Current Tour -->
  <div id=currentTourBox>
    <div id=countdownText>Next tour in...</div>
    <div id=defaultCountdown></div>

  <!-- === UPDATING INSTRUCTIONS ===
    1. UPDATE ADMIN WITH TOUR DETAILS
    2. UPDATE HTML BY COPYING BLOCK OF TEXT AND CHANGING SHORTNAME
    3. UPDTAE CSS BY COPYING LOWER BLOCK AND UPDATING SHORTNAME
    4. UPDATE VIEWS with code block and the context block
  -->

  <!-- The Bayou Bonanza -->
  <div class="tourTile bigShadow contracted">
    <div class="tourHeader" id="bonanzaBackground">
      <div class="tourLogo"><img id="bonanzaLogo" src="{% static 'icons/bonanzaLogoGreen.svg'%}"></div>
      <div class=tourTitle id="bonanzaTitleText">{{bonanza}}</div>
      <div class=tourSubTitle id=bonanzaSubTitleText>{{bonanza_location}}</div>
      <a href="{{bonanza_url}}" target="_blank">
         <!-- Add in link out logo -->
      <img class=tourButtonOut id=bonanzaButtonOut src="{% static 'icons/linkOutIconWhite.svg' %}"></a>
      <div class=tourNumber>Tour # {{ bonanza_number }}</div>
      <div class=tourDates>{{bonanza_dates}}</div>
      <img class=tourJacketLogo src="{% static 'icons/jacketIconGreen.svg' %}">
      <div class=tourJacketWinner>{{ bonanza_winner }}</div>
    </div>
    <div class="detailsButton">
      <img class="detailsButtonIcon" src="{% static 'icons/downButton.svg' %}">
      </div>

    <!-- Drop-down section -->
    <div class=playersHeader>PLAYERS</div>
      <div class=playersDetailsBox>
        <!-- ForLoop: Tour_1_Players -->
        {% for item in bonanza_players %}
        <div class=playersDetailsRow>
          <img class=playersDetailsImg src="{{ item.tour_player.image.url }}">
          <div class=playersDetailsName>{{item.tour_player}}</div></div>
        {% endfor %}
        <!-- EndFor: TourPlayers -->
      </div>

    <div class=coursesHeader>COURSES</div>
      <div class=coursesDetailsBox>
        <!-- ForLoop: Tour_2_Courses -->
        {% for course in bonanza_courses %}
        <div class=coursesDetailsRow>
          <img class=coursesDetailsImg src="{% static 'icons/golfCourseGreen.svg' %}">
          <div class=coursesDetailsName>{{ course.tour_course }}</div></div>
          {% endfor %}
        <!-- EndFor: Tour_2_Courses -->
      </div>

    <div class=resultsHeader>RESULTS</div>
    <div class=resultsDetailsBox>
      <!-- ForLoop: Tour_3_Results -->
      {% for result in bonanza_result %}
      <div class=resultsDetailsRow>
        {% if forloop.counter == 1 %}
        <div class=resultsDetailsImg style="background-color: var(--par6green)">{{ forloop.counter }}</div>
        {% else %}
        <div class=resultsDetailsImg>{{ forloop.counter }}</div>
        {% endif %}
        <div class=resultsDetailsName>{{ result.tour_player }}</div></div>
        {% endfor %}
      <!-- EndFor: Tour_3_Results -->
    </div>

    <div class=organizerHeader>TOUR EXECUTIVE</div>
    <div class=organizerDetailsBox>
      <!-- ForLoop: Tour_4_Organizer -->
      {% for organizer in bonanza_organizer %}
      <div class=organizerDetailsRow>
        <img class=playersDetailsImg src="{{ organizer.tour_player.image.url }}">
        <div class=organizerDetailsName>{{ organizer.tour_player }}</div></div>
        {% endfor %}
      <!-- EndFor: Tour_4_Organizer -->
    </div>

  </div>

  </div>
  <!-- END Current Tour box -->

  <!-- === THE DUEL IN THE DESERT === -->
  <div class="tourTile bigShadow contracted">
    <div class="tourHeader" id="duelBackground">
      <div class="tourLogo"><img id="duelLogo" src="{% static 'icons/duelLogoOrange.svg'%}"></div>
      <div class=tourTitle id="duelTitleText">{{duel}}</div>
      <div class=tourSubTitle id=duelSubTitleText>{{duel_location}}</div>
      <a href="{{duel_url}}" target="_blank">
         <!-- Add in link out logo -->
      <img class=tourButtonOut id=duelButtonOut src="{% static 'icons/linkOutIconWhite.svg' %}"></a>
      <div class=tourNumber>Tour # {{ duel_number }}</div>
      <div class=tourDates>{{duel_dates}}</div>
      <img class=tourJacketLogo src="{% static 'icons/jacketIconGreen.svg' %}">
      <div class=tourJacketWinner>{{ duel_winner }}</div>
    </div>
    <div class="detailsButton">
      <img class="detailsButtonIcon" src="{% static 'icons/downButton.svg' %}">
      </div>

    <!-- Drop-down section -->
    <div class=playersHeader>PLAYERS</div>
      <div class=playersDetailsBox>
        <!-- ForLoop: Tour_1_Players -->
        {% for item in duel_players %}
        <div class=playersDetailsRow>
          <img class=playersDetailsImg src="{{ item.tour_player.image.url }}">
          <div class=playersDetailsName>{{item.tour_player}}</div></div>
        {% endfor %}
        <!-- EndFor: TourPlayers -->
      </div>

    <div class=coursesHeader>COURSES</div>
      <div class=coursesDetailsBox>
        <!-- ForLoop: Tour_2_Courses -->
        {% for course in duel_courses %}
        <div class=coursesDetailsRow>
          <img class=coursesDetailsImg src="{% static 'icons/golfCourseGreen.svg' %}">
          <div class=coursesDetailsName>{{ course.tour_course }}</div></div>
          {% endfor %}
        <!-- EndFor: Tour_2_Courses -->
      </div>

    <div class=resultsHeader>RESULTS</div>
    <div class=resultsDetailsBox>
      <!-- ForLoop: Tour_3_Results -->
      {% for result in duel_result %}
      <div class=resultsDetailsRow>
        {% if forloop.counter == 1 %}
        <div class=resultsDetailsImg style="background-color: var(--par6green)">{{ forloop.counter }}</div>
        {% else %}
        <div class=resultsDetailsImg>{{ forloop.counter }}</div>
        {% endif %}
        <div class=resultsDetailsName>{{ result.tour_player }}</div></div>
        {% endfor %}
      <!-- EndFor: Tour_3_Results -->
    </div>

    <div class=organizerHeader>TOUR EXECUTIVE</div>
    <div class=organizerDetailsBox>
      <!-- ForLoop: Tour_4_Organizer -->
      {% for organizer in duel_organizer %}
      <div class=organizerDetailsRow>
        <img class=playersDetailsImg src="{{ organizer.tour_player.image.url }}">
        <div class=organizerDetailsName>{{ organizer.tour_player }}</div></div>
        {% endfor %}
      <!-- EndFor: Tour_4_Organizer -->
    </div>

  </div>

  <!-- === INDY1200 === -->
  <div class="tourTile bigShadow contracted">
    <div class="tourHeader" id="indyBackground">
      <div class="tourLogo"><img id="duelLogo" src="{% static 'icons/indyLogoBlue.svg'%}"></div>
      <div class=tourTitle id="indyTitleText">{{indy}}</div> <!--{{indy}}-->
      <div class=tourSubTitle id=indySubTitleText>{{indy_location}}</div> <!--{{indy_location}}-->
      <a href="{{indy_url}}" target="_blank">
         <!-- Add in link out logo -->
      <img class=tourButtonOut id=indyButtonOut src="{% static 'icons/linkOutIconWhite.svg' %}"></a>
      <div class=tourNumber>Tour # {{ indy_number }}</div>
      <div class=tourDates>{{indy_dates}}</div>
      <img class=tourJacketLogo src="{% static 'icons/jacketIconGreen.svg' %}">
      <div class=tourJacketWinner>{{ indy_winner }}</div>
    </div>
    <div class="detailsButton">
      <img class="detailsButtonIcon" src="{% static 'icons/downButton.svg' %}">
      </div>

    <!-- Drop-down section -->
    <div class=playersHeader>PLAYERS</div>
      <div class=playersDetailsBox>
        <!-- ForLoop: Tour_1_Players -->
        {% for item in indy_players %}
        <div class=playersDetailsRow>
          <img class=playersDetailsImg src="{{ item.tour_player.image.url }}">
          <div class=playersDetailsName>{{item.tour_player}}</div></div>
        {% endfor %}
        <!-- EndFor: TourPlayers -->
      </div>

    <div class=coursesHeader>COURSES</div>
      <div class=coursesDetailsBox>
        <!-- ForLoop: Tour_2_Courses -->
        {% for course in indy_courses %}
        <div class=coursesDetailsRow>
          <img class=coursesDetailsImg src="{% static 'icons/golfCourseGreen.svg' %}">
          <div class=coursesDetailsName>{{ course.tour_course }}</div></div>
          {% endfor %}
        <!-- EndFor: Tour_2_Courses -->
      </div>

    <div class=resultsHeader>RESULTS</div>
    <div class=resultsDetailsBox>
      <!-- ForLoop: Tour_3_Results -->
      {% for result in indy_result %}
      <div class=resultsDetailsRow>
        {% if forloop.counter == 1 %}
        <div class=resultsDetailsImg style="background-color: var(--par6green)">{{ forloop.counter }}</div>
        {% else %}
        <div class=resultsDetailsImg>{{ forloop.counter }}</div>
        {% endif %}
        <div class=resultsDetailsName>{{ result.tour_player }}</div></div>
        {% endfor %}
      <!-- EndFor: Tour_3_Results -->
    </div>

    <div class=organizerHeader>TOUR EXECUTIVE</div>
    <div class=organizerDetailsBox>
      <!-- ForLoop: Tour_4_Organizer -->
      {% for organizer in indy_organizer %}
      <div class=organizerDetailsRow>
        <img class=playersDetailsImg src="{{ organizer.tour_player.image.url }}">
        <div class=organizerDetailsName>{{ organizer.tour_player }}</div></div>
        {% endfor %}
      <!-- EndFor: Tour_4_Organizer -->
    </div>
    </div>

    <!-- === SAVANNAH SLAMMA === -->
    <div class="tourTile bigShadow contracted">
      <div class="tourHeader" id="slammaBackground">
        <div class="tourLogo"><img id="duelLogo" src="{% static 'icons/slammaLogoYellow2.svg'%}"></div>
        <div class=tourTitle id="slammaTitleText">{{slamma}}</div> <!--{{slamma}}-->
        <div class=tourSubTitle id=slammaSubTitleText>{{slamma_location}}</div> <!--{{slamma_location}}-->
        <a href="{{slamma_url}}" target="_blank">
           <!-- Add in link out logo -->
        <img class=tourButtonOut id=slammaButtonOut src="{% static 'icons/linkOutIconWhite.svg' %}"></a>
        <div class=tourNumber>Tour # {{ slamma_number }}</div>
        <div class=tourDates>{{slamma_dates}}</div>
        <img class=tourJacketLogo src="{% static 'icons/jacketIconGreen.svg' %}">
        <div class=tourJacketWinner>{{ slamma_winner }}</div>
      </div>
      <div class="detailsButton">
        <img class="detailsButtonIcon" src="{% static 'icons/downButton.svg' %}">
        </div>

      <!-- Drop-down section -->
      <div class=playersHeader>PLAYERS</div>
        <div class=playersDetailsBox>
          <!-- ForLoop: Tour_1_Players -->
          {% for item in slamma_players %}
          <div class=playersDetailsRow>
            <img class=playersDetailsImg src="{{ item.tour_player.image.url }}">
            <div class=playersDetailsName>{{item.tour_player}}</div></div>
          {% endfor %}
          <!-- EndFor: TourPlayers -->
        </div>

      <div class=coursesHeader>COURSES</div>
        <div class=coursesDetailsBox>
          <!-- ForLoop: Tour_2_Courses -->
          {% for course in slamma_courses %}
          <div class=coursesDetailsRow>
            <img class=coursesDetailsImg src="{% static 'icons/golfCourseGreen.svg' %}">
            <div class=coursesDetailsName>{{ course.tour_course }}</div></div>
            {% endfor %}
          <!-- EndFor: Tour_2_Courses -->
        </div>

      <div class=resultsHeader>RESULTS</div>
      <div class=resultsDetailsBox>
        <!-- ForLoop: Tour_3_Results -->
        {% for result in slamma_result %}
        <div class=resultsDetailsRow>
          {% if forloop.counter == 1 %}
          <div class=resultsDetailsImg style="background-color: var(--par6green)">{{ forloop.counter }}</div>
          {% else %}
          <div class=resultsDetailsImg>{{ forloop.counter }}</div>
          {% endif %}
          <div class=resultsDetailsName>{{ result.tour_player }}</div></div>
          {% endfor %}
        <!-- EndFor: Tour_3_Results -->
      </div>

      <div class=organizerHeader>TOUR EXECUTIVE</div>
      <div class=organizerDetailsBox>
        <!-- ForLoop: Tour_4_Organizer -->
        {% for organizer in slamma_organizer %}
        <div class=organizerDetailsRow>
          <img class=playersDetailsImg src="{{ organizer.tour_player.image.url }}">
          <div class=organizerDetailsName>{{ organizer.tour_player }}</div></div>
          {% endfor %}
        <!-- EndFor: Tour_4_Organizer -->
      </div>
      </div>

      <!-- === PIN SEEKING IN THE PINES === -->
      <div class="tourTile bigShadow contracted">
        <div class="tourHeader" id="pinesBackground">
          <div class="tourLogo"><img id="pinesLogo" src="{% static 'icons/pinesLogoGreen.svg'%}"></div>
          <div class=tourTitle id="pinesTitleText">{{pines}}</div> <!--{{pines}}-->
          <div class=tourSubTitle id=pinesSubTitleText>{{pines_location}}</div> <!--{{pines_location}}-->
          <a href="{{pines_url}}" target="_blank">
             <!-- Add in link out logo -->
          <img class=tourButtonOut id=pinesButtonOut src="{% static 'icons/linkOutIconWhite.svg' %}"></a>
          <div class=tourNumber>Tour # {{ pines_number }}</div>
          <div class=tourDates>{{pines_dates}}</div>
          <img class=tourJacketLogo src="{% static 'icons/jacketIconGreen.svg' %}">
          <div class=tourJacketWinner>{{ pines_winner }}</div>
        </div>
        <div class="detailsButton">
          <img class="detailsButtonIcon" src="{% static 'icons/downButton.svg' %}">
          </div>

        <!-- Drop-down section -->
        <div class=playersHeader>PLAYERS</div>
          <div class=playersDetailsBox>
            <!-- ForLoop: Tour_1_Players -->
            {% for item in pines_players %}
            <div class=playersDetailsRow>
              <img class=playersDetailsImg src="{{ item.tour_player.image.url }}">
              <div class=playersDetailsName>{{item.tour_player}}</div></div>
            {% endfor %}
            <!-- EndFor: TourPlayers -->
          </div>

        <div class=coursesHeader>COURSES</div>
          <div class=coursesDetailsBox>
            <!-- ForLoop: Tour_2_Courses -->
            {% for course in pines_courses %}
            <div class=coursesDetailsRow>
              <img class=coursesDetailsImg src="{% static 'icons/golfCourseGreen.svg' %}">
              <div class=coursesDetailsName>{{ course.tour_course }}</div></div>
              {% endfor %}
            <!-- EndFor: Tour_2_Courses -->
          </div>

        <div class=resultsHeader>RESULTS</div>
        <div class=resultsDetailsBox>
          <!-- ForLoop: Tour_3_Results -->
          {% for result in pines_result %}
          <div class=resultsDetailsRow>
            {% if forloop.counter == 1 %}
            <div class=resultsDetailsImg style="background-color: var(--par6green)">{{ forloop.counter }}</div>
            {% else %}
            <div class=resultsDetailsImg>{{ forloop.counter }}</div>
            {% endif %}
            <div class=resultsDetailsName>{{ result.tour_player }}</div></div>
            {% endfor %}
          <!-- EndFor: Tour_3_Results -->
        </div>

        <div class=organizerHeader>TOUR EXECUTIVE</div>
        <div class=organizerDetailsBox>
          <!-- ForLoop: Tour_4_Organizer -->
          {% for organizer in pines_organizer %}
          <div class=organizerDetailsRow>
            <img class=playersDetailsImg src="{{ organizer.tour_player.image.url }}">
            <div class=organizerDetailsName>{{ organizer.tour_player }}</div></div>
            {% endfor %}
          <!-- EndFor: Tour_4_Organizer -->
        </div>
        </div>

        <!-- === THE TENNESSEE TUSSLE === -->
        <div class="tourTile bigShadow contracted">
          <div class="tourHeader" id="tussleBackground">
            <div class="tourLogo"><img id="tussleLogo" src="{% static 'icons/tussleLogoBrown.svg'%}"></div>
            <div class=tourTitle id="tussleTitleText">{{tussle}}</div> <!--{{tussle}}-->
            <div class=tourSubTitle id=tussleSubTitleText>{{tussle_location}}</div> <!--{{tussle_location}}-->
            <a href="{{tussle_url}}" target="_blank">
               <!-- Add in link out logo -->
            <img class=tourButtonOut id=tussleButtonOut src="{% static 'icons/linkOutIconWhite.svg' %}"></a>
            <div class=tourNumber>Tour # {{ tussle_number }}</div>
            <div class=tourDates>{{tussle_dates}}</div>
            <img class=tourJacketLogo src="{% static 'icons/jacketIconGreen.svg' %}">
            <div class=tourJacketWinner>{{ tussle_winner }}</div>
          </div>
          <div class="detailsButton">
            <img class="detailsButtonIcon" src="{% static 'icons/downButton.svg' %}">
            </div>

          <!-- Drop-down section -->
          <div class=playersHeader>PLAYERS</div>
            <div class=playersDetailsBox>
              <!-- ForLoop: Tour_1_Players -->
              {% for item in tussle_players %}
              <div class=playersDetailsRow>
                <img class=playersDetailsImg src="{{ item.tour_player.image.url }}">
                <div class=playersDetailsName>{{item.tour_player}}</div></div>
              {% endfor %}
              <!-- EndFor: TourPlayers -->
            </div>

          <div class=coursesHeader>COURSES</div>
            <div class=coursesDetailsBox>
              <!-- ForLoop: Tour_2_Courses -->
              {% for course in tussle_courses %}
              <div class=coursesDetailsRow>
                <img class=coursesDetailsImg src="{% static 'icons/golfCourseGreen.svg' %}">
                <div class=coursesDetailsName>{{ course.tour_course }}</div></div>
                {% endfor %}
              <!-- EndFor: Tour_2_Courses -->
            </div>

          <div class=resultsHeader>RESULTS</div>
          <div class=resultsDetailsBox>
            <!-- ForLoop: Tour_3_Results -->
            {% for result in tussle_result %}
            <div class=resultsDetailsRow>
              {% if forloop.counter == 1 %}
              <div class=resultsDetailsImg style="background-color: var(--par6green)">{{ forloop.counter }}</div>
              {% else %}
              <div class=resultsDetailsImg>{{ forloop.counter }}</div>
              {% endif %}
              <div class=resultsDetailsName>{{ result.tour_player }}</div></div>
              {% endfor %}
            <!-- EndFor: Tour_3_Results -->
          </div>

          <div class=organizerHeader>TOUR EXECUTIVE</div>
          <div class=organizerDetailsBox>
            <!-- ForLoop: Tour_4_Organizer -->
            {% for organizer in tussle_organizer %}
            <div class=organizerDetailsRow>
              <img class=playersDetailsImg src="{{ organizer.tour_player.image.url }}">
              <div class=organizerDetailsName>{{ organizer.tour_player }}</div></div>
              {% endfor %}
            <!-- EndFor: Tour_4_Organizer -->
          </div>
          </div>

        <!-- === THE DALLAS DUSTUP === -->
        <div class="tourTile bigShadow contracted">
          <div class="tourHeader" id="dallasBackground">
            <div class="tourLogo"><img id="dallasLogo" src="{% static 'icons/dallasLogoBlue.svg'%}"></div>
            <div class=tourTitle id="dallasTitleText">{{dallas}}</div> <!--{{dallas}}-->
            <div class=tourSubTitle id=dallasSubTitleText>{{dallas_location}}</div> <!--{{dallas_location}}-->
            <a href="{{dallas_url}}" target="_blank">
               <!-- Add in link out logo -->
            <img class=tourButtonOut id=dallasButtonOut src="{% static 'icons/linkOutIconWhite.svg' %}"></a>
            <div class=tourNumber>Tour # {{ dallas_number }}</div>
            <div class=tourDates>{{dallas_dates}}</div>
            <img class=tourJacketLogo src="{% static 'icons/jacketIconGreen.svg' %}">
            <div class=tourJacketWinner>{{ dallas_winner }}</div>
          </div>
          <div class="detailsButton">
            <img class="detailsButtonIcon" src="{% static 'icons/downButton.svg' %}">
            </div>

          <!-- Drop-down section -->
          <div class=playersHeader>PLAYERS</div>
            <div class=playersDetailsBox>
              <!-- ForLoop: Tour_1_Players -->
              {% for item in dallas_players %}
              <div class=playersDetailsRow>
                <img class=playersDetailsImg src="{{ item.tour_player.image.url }}">
                <div class=playersDetailsName>{{item.tour_player}}</div></div>
              {% endfor %}
              <!-- EndFor: TourPlayers -->
            </div>

          <div class=coursesHeader>COURSES</div>
            <div class=coursesDetailsBox>
              <!-- ForLoop: Tour_2_Courses -->
              {% for course in dallas_courses %}
              <div class=coursesDetailsRow>
                <img class=coursesDetailsImg src="{% static 'icons/golfCourseGreen.svg' %}">
                <div class=coursesDetailsName>{{ course.tour_course }}</div></div>
                {% endfor %}
              <!-- EndFor: Tour_2_Courses -->
            </div>

          <div class=resultsHeader>RESULTS</div>
          <div class=resultsDetailsBox>
            <!-- ForLoop: Tour_3_Results -->
            {% for result in dallas_result %}
            <div class=resultsDetailsRow>
              {% if forloop.counter == 1 %}
              <div class=resultsDetailsImg style="background-color: var(--par6green)">{{ forloop.counter }}</div>
              {% else %}
              <div class=resultsDetailsImg>{{ forloop.counter }}</div>
              {% endif %}
              <div class=resultsDetailsName>{{ result.tour_player }}</div></div>
              {% endfor %}
            <!-- EndFor: Tour_3_Results -->
          </div>

          <div class=organizerHeader>TOUR EXECUTIVE</div>
          <div class=organizerDetailsBox>
            <!-- ForLoop: Tour_4_Organizer -->
            {% for organizer in dallas_organizer %}
            <div class=organizerDetailsRow>
              <img class=playersDetailsImg src="{{ organizer.tour_player.image.url }}">
              <div class=organizerDetailsName>{{ organizer.tour_player }}</div></div>
              {% endfor %}
            <!-- EndFor: Tour_4_Organizer -->
          </div>
          </div>

        <!-- === 2. THE SNAKEPIT CHALLENGE === -->
          <div class="tourTile bigShadow contracted">
            <div class="tourHeader" id="snakepitBackground">
              <div class="tourLogo"><img id="snakepitLogo" src="{% static 'icons/snakepitLogoPink.svg'%}"></div>
              <div class=tourTitle id="snakepitTitleText">{{snakepit}}</div> <!--{{snakepit}}-->
              <div class=tourSubTitle id=snakepitSubTitleText>{{snakepit_location}}</div> <!--{{snakepit_location}}-->
              <a href="{{snakepit_url}}" target="_blank">
                 <!-- Add in link out logo -->
              <img class=tourButtonOut id=snakepitButtonOut src="{% static 'icons/linkOutIconWhite.svg' %}"></a>
              <div class=tourNumber>Tour # {{ snakepit_number }}</div>
              <div class=tourDates>{{snakepit_dates}}</div>
              <img class=tourJacketLogo src="{% static 'icons/jacketIconGreen.svg' %}">
              <div class=tourJacketWinner>{{ snakepit_winner }}</div>
            </div>
            <div class="detailsButton">
              <img class="detailsButtonIcon" src="{% static 'icons/downButton.svg' %}">
              </div>

            <!-- Drop-down section -->
            <div class=playersHeader>PLAYERS</div>
              <div class=playersDetailsBox>
                <!-- ForLoop: Tour_1_Players -->
                {% for item in snakepit_players %}
                <div class=playersDetailsRow>
                  <img class=playersDetailsImg src="{{ item.tour_player.image.url }}">
                  <div class=playersDetailsName>{{item.tour_player}}</div></div>
                {% endfor %}
                <!-- EndFor: TourPlayers -->
              </div>

            <div class=coursesHeader>COURSES</div>
              <div class=coursesDetailsBox>
                <!-- ForLoop: Tour_2_Courses -->
                {% for course in snakepit_courses %}
                <div class=coursesDetailsRow>
                  <img class=coursesDetailsImg src="{% static 'icons/golfCourseGreen.svg' %}">
                  <div class=coursesDetailsName>{{ course.tour_course }}</div></div>
                  {% endfor %}
                <!-- EndFor: Tour_2_Courses -->
              </div>

            <div class=resultsHeader>RESULTS</div>
            <div class=resultsDetailsBox>
              <!-- ForLoop: Tour_3_Results -->
              {% for result in snakepit_result %}
              <div class=resultsDetailsRow>
                {% if forloop.counter == 1 %}
                <div class=resultsDetailsImg style="background-color: var(--par6green)">{{ forloop.counter }}</div>
                {% else %}
                <div class=resultsDetailsImg>{{ forloop.counter }}</div>
                {% endif %}
                <div class=resultsDetailsName>{{ result.tour_player }}</div></div>
                {% endfor %}
              <!-- EndFor: Tour_3_Results -->
            </div>

            <div class=organizerHeader>TOUR EXECUTIVE</div>
            <div class=organizerDetailsBox>
              <!-- ForLoop: Tour_4_Organizer -->
              {% for organizer in snakepit_organizer %}
              <div class=organizerDetailsRow>
                <img class=playersDetailsImg src="{{ organizer.tour_player.image.url }}">
                <div class=organizerDetailsName>{{ organizer.tour_player }}</div></div>
                {% endfor %}
              <!-- EndFor: Tour_4_Organizer -->
            </div>
            </div>

            <!-- === 1. THE TOUR OF ORIGIN === -->
              <div class="tourTile bigShadow contracted">
                <div class="tourHeader" id="originBackground">
                  <div class="tourLogo"><img id="originLogo" src="https://db-par6golfgeneral.s3.amazonaws.com/static/icons/par6Logo.jpg"></div>
                  <div class=tourTitle id="originTitleText">{{origin}}</div> <!--{{origin}}-->
                  <div class=tourSubTitle id=originSubTitleText>{{origin_location}}</div> <!--{{origin_location}}-->
                  <a href="{{origin_url}}" target="_blank">
                     <!-- Add in link out logo -->
                  <img class=tourButtonOut id=originButtonOut src="{% static 'icons/linkOutIconWhite.svg' %}"></a>
                  <div class=tourNumber>Tour # {{ origin_number }}</div>
                  <div class=tourDates>{{origin_dates}}</div>
                  <img class=tourJacketLogo src="{% static 'icons/jacketIconGreen.svg' %}">
                  <div class=tourJacketWinner>{{ origin_winner }}</div>
                </div>
                <div class="detailsButton">
                  <img class="detailsButtonIcon" src="{% static 'icons/downButton.svg' %}">
                  </div>

                <!-- Drop-down section -->
                <div class=playersHeader>PLAYERS</div>
                  <div class=playersDetailsBox>
                    <!-- ForLoop: Tour_1_Players -->
                    {% for item in origin_players %}
                    <div class=playersDetailsRow>
                      <img class=playersDetailsImg src="{{ item.tour_player.image.url }}">
                      <div class=playersDetailsName>{{item.tour_player}}</div></div>
                    {% endfor %}
                    <!-- EndFor: TourPlayers -->
                  </div>

                <div class=coursesHeader>COURSES</div>
                  <div class=coursesDetailsBox>
                    <!-- ForLoop: Tour_2_Courses -->
                    {% for course in origin_courses %}
                    <div class=coursesDetailsRow>
                      <img class=coursesDetailsImg src="{% static 'icons/golfCourseGreen.svg' %}">
                      <div class=coursesDetailsName>{{ course.tour_course }}</div></div>
                      {% endfor %}
                    <!-- EndFor: Tour_2_Courses -->
                  </div>

                <div class=resultsHeader>RESULTS</div>
                <div class=resultsDetailsBox>
                  <!-- ForLoop: Tour_3_Results -->
                  {% for result in origin_result %}
                  <div class=resultsDetailsRow>
                    {% if forloop.counter == 1 %}
                    <div class=resultsDetailsImg style="background-color: var(--par6green)">{{ forloop.counter }}</div>
                    {% else %}
                    <div class=resultsDetailsImg>{{ forloop.counter }}</div>
                    {% endif %}
                    <div class=resultsDetailsName>{{ result.tour_player }}</div></div>
                    {% endfor %}
                  <!-- EndFor: Tour_3_Results -->
                </div>

                <div class=organizerHeader>TOUR EXECUTIVE</div>
                <div class=organizerDetailsBox>
                  <!-- ForLoop: Tour_4_Organizer -->
                  {% for organizer in origin_organizer %}
                  <div class=organizerDetailsRow>
                    <img class=playersDetailsImg src="{{ organizer.tour_player.image.url }}">
                    <div class=organizerDetailsName>{{ organizer.tour_player }}</div></div>
                    {% endfor %}
                  <!-- EndFor: Tour_4_Organizer -->
                </div>
                </div>

  <div class=footerContainer></div>
</div> <!-- End scroll container -->


{% endblock %}
