{% extends "_basetemplate.html" %}

{% block browserTitle %}

{% endblock %}

{% load static %}

<!-- This block section defines the ACTIVE MENU ITEMS in the menu bar (adjusted for each) -->
{% block menuItemHome %}
<a href="{% url 'landingpage' %}">
  <div class="menuIconHolder"> <!-- menuItemActive -->
  <img id=menuIconHome src="{% static 'icons/menuHomeGreen.svg' %}"></div></a>
{% endblock %}

{% block menuItemPlayers %}
<!-- <a href="{% url 'register' %}"> -->
  <div class="menuIconHolder">
  <img id=menuIconPlayer src="{% static 'icons/menuPlayerGreen.svg' %}"></div>
<!-- </a> -->
{% endblock %}

{% block menuItemRegister %}
<a href="{% url 'register' %}">
  <div class="menuIconHolder menuItemActive">
  <img id=menuIconRegister src="{% static 'icons/menuRegisterWhite.svg' %}"></div></a>
{% endblock %}


{% block content %}
<div class=contentBuffer20px></div>
<div class="formContainer bigShadow">
  <img class=formIconPar6 src="{% static 'icons/par6Logo.jpg' %}">
<div class=formTextBox id=formHeader>Register your availability for</div>
<div class=formTextBox id=formNextTour>The Bayou Bonanza</div>
<div class=formTextBox id=formNextTourDetails>New Orleans, 20-23 Mar 2020</div>

<div class=formContentBox>
  <form method="post">
    {% csrf_token %}
    <div class=formContentRow>
      <div class=formContentLabel>Player</div>
      <div class=formContentEntry>{{form.player_name}}</div>
      </div>
      <div class=formContentRow>
        <div class=formContentLabel>Availability</div>
        <div class=formContentEntry>{{form.tour_status}}</div>
        </div>
        <div class=formContentRow>
          <div class=formContentLabel>Comments</div>
          <div class=formContentEntry id=formCommentsRow>{{form.comments}}</div>
          </div>

    <button class=formSubmitButton type="submit">Submit</button>
  </form>
</div>

<div class=formSpotsRemainingBox>
  <div class=formSpotsRemainingNo>{{remaining_spots}}</div>
  <div class=formSpotsRemainingText>spots remaining</div>
  </div>


</div>

{% endblock %}
