/* FOUNDATION CSS SETTINGS */
* {
  font-family: verdana;
  font-size: 12px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* FONTS */
@font-face {
  font-family: 'Sequel_Demo';
  src: local('Sequel_Demo'),
       url('/static/fonts/Sequel_Demo.ttf') format("truetype");
}

@font-face {
  font-family: 'FredokaOne-Regular';
  src: local('FredokaOne-Regular'),
       url('/static/fonts/FredokaOne-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'DuelFont';
  src: local('DuelFont'),
       url('/static/fonts/DuelFont.ttf') format("truetype");
}

@font-face {
  font-family: 'IndyFont';
  src: local('IndyFont'),
       url('/static/fonts/RacingSansOne-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'BonanzaFont';
  src: local('BonanzaFont'),
       url('/static/fonts/BonanzaFont.TTF') format("truetype");
}

@font-face {
  font-family: 'SlammaFont';
  src: local('SlammaFont'),
       url('/static/fonts/SlammaFont5.ttf') format("truetype");
}

@font-face {
  font-family: 'PinesFont';
  src: local('PinesFont'),
       url('/static/fonts/PinesFont.otf') format("truetype");
}

@font-face {
  font-family: 'TussleFont';
  src: local('TussleFont'),
       url('/static/fonts/TussleFont.ttf') format("truetype");
}

@font-face {
  font-family: 'DallasFont';
  src: local('DallasFont'),
       url('/static/fonts/DallasFont1.ttf') format("truetype");
}

@font-face {
  font-family: 'SnakepitFont';
  src: local('SnakepitFont'),
       url('/static/fonts/SnakepitFont.ttf') format("truetype");
}

@font-face {
  font-family: 'OriginFont';
  src: local('OriginFont'),
       url('/static/fonts/OriginFont.ttf') format("truetype");
}

/* CSS VARIABLES */
:root {
  /* Overall details */
  --par6green: #0F4F00;
  --brandfont: 'Avenir';
  --tourfont: 'FredokaOne-Regular';
  /* Bonanza details */
  --bonanzaPurple: #622E83;
  --bonanzaGreen: #439435;
  --bonanzaYellow: #FFD700;
  --bonanzaFont: 'BonanzaFont';
  --bonanzaFontSize: 1.5rem;
  /* Duel details */
  --duelPurple: #3A178B;
  --duelOrange: #F55700;
  --duelLightOrange: #FEA002;
  --duelfont: 'DuelFont';
  --duelfontSize: 2rem;
  /* Indy details */
  --indyBlue: #012E62;
  --indyYellow: #FEBA31;
  --indyfont: 'IndyFont';
  --indyfontSize: 1.9rem;
  /* Slamma details */
  --slammaPink: #FF6872;
  --slammaYellow: #FFC000; /* #FFF449 */
  --slammafont: 'SlammaFont';
  --slammafontSize: 1.3rem;
  /* Pines details */
  --pinesGreenDark: #094300;
  --pinesGreenLight: #A9D18E; /* #FFF449 */
  --pinesfont: 'PinesFont';
  --pinesfontSize: 1.45rem;
  /* Tussle details */
  --tussleGold: #FEA501;
  --tussleBrown: #2B0D0C; /* #FFF449 */
  --tusslefont: 'TussleFont';
  --tusslefontSize: 1.7rem;
  /* Dallas details */
  --dallasBlue: #0D2C5E;
  --dallasGrey: #C8C9CB; /* #FFF449 */
  --dallasfont: 'DallasFont';
  --dallasfontSize: 1.6rem;
  /* Snakepit details */
  --snakepitGreen: #A3CD39;
  --snakepitPink: #F43E71;
  --snakepitfont: 'SnakepitFont';
  --snakepitfontSize: 1.01rem;
  /* Origin details */
  --originGrey: #BFBFBF;
  --originfont: 'Sequel_Demo';
  --originfontSize: 1.7rem;
}

.bigShadow {
  box-shadow: 1px 1px 6px 2px lightgrey;
}

.smoothScroll {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0;
}

/* JAVASCRIPT AND ANIMATE CLASSES */
.unclicked {background-color: grey;}
.clicked {background-color: red;}

.contracted {height: 140px;} /* change to 140px in production*/
.expanded {height: 426px;}

.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.contentBuffer20px {
  width: 100%;
  height: 20px;
}

/* BASETEMPLATE FORMATTING - header banner and mobile container*/
#headerMainBanner {
  width: 100%;
  height: 120px;
  background-color: var(--par6green);
  position: absolute;
}

#headerContainer {
  height: 120px;
  width: 100%;
  position: relative;
}

#logoSlot {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  top: 25px;
  left: 15px;
  overflow: hidden;
}

.par6logo {
  height: 90%;
  margin: 4px;
}

#par6WelcomeText {
  position: absolute;
  left: 105px;
  top: 42px;
  height: 20px;
  line-height: 20px;
  font-size: 1.75rem;
  color: white;
  font-family: var(--brandfont);
  font-weight: bold;
}

#homeOfTourText {
  font-family: var(--tourfont);
  position: absolute;
  left: 105px;
  top: 64px;
  height: 20px;
  line-height: 20px;
  font-size: 1.25rem;
  color: white;
}

.menuContainer {
  height: 36px;
  width: 280px;
  position: absolute;
  top: 100px;
  left: 40px;
  background-color: white;
  z-index: 200;
  border-radius: 10px;
  border: 1px solid var(--par6green);
}

.menuItem {
    height: 32px;
    width: 80px;
    border-radius: 100%;
    /* border: 1px solid var(--par6green); */
    position: absolute;
    top: 1px;
}

#menuItemHome {
  left: 10px;
}

#menuItemPlayers {
  left: 100px;
}

#menuItemRegister {
  left: 190px;
}

.menuIconHolder {
  height: 100%;
  border-radius: 10px;
}

#menuIconHome {
  height: 85%;
  margin-left: 25px;
  margin-top: 2px;
}

#menuIconPlayer {
  height: 90%;
  margin-left: 25px;
  margin-top: 2px;
}

#menuIconRegister {
  height: 100%;
  margin-left: 25px;
  margin-top: 1px;
}

.menuItemActive {
  background-color: var(--par6green);
}

/* LANDING PAGE */
.scrollContainer {
    width: 100%;
    height: 600px;
    margin-top: 5px;
}

.footerContainer {
  height: 80px;
  width: 100%;
}

/* Current Tour box and countdown settings */
#currentTourBox {
  min-height: 200px;
  width: 320px;
  margin: 20px auto;
  margin-top: 20px;
  padding-top: 5px;
  border: 2px solid var(--par6green);
  position: relative;
}

#countdownText {
  position: absolute;
  top: -13px;
  left: 10px;
  background-color: white;
  height: 14px;
  min-width: 50px;
  padding: 0px 5px;
  color: var(--par6green);
  font-family: var(--tourtext);
}

#defaultCountdown {
  width: 100%;
  height: 50px;
  border: 1px solid var(--par6green);
  padding-top: 5px;
  background-color: var(--par6green);
}

/* Unchanging Tour Tile settings */
.tourTile {
  width: 300px;
  margin: 25px auto;
  margin-bottom: 25px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.tourHeader {
  width: 100%;
  height: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tourLogo {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  top: 10px;
  left: 10px;
}

.tourTitle {
  width: 200px;
  position: absolute;
  top: 18px;
  left: 70px;
}

.tourSubTitle {
  width: 200px;
  position: absolute;
  top: 41px;
  left: 90px;
  font-family: var(--brandfont);
  font-size: 1.1rem;
}

.tourButtonOut {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  top: 45px;
  right: 10px;
  padding: 4px;
  padding-top: 6px;
  padding-right: 6px;
}

.tourNumber {
  font-family: var(--brandfont);
  position: absolute;
  top: 95px;
  left: 10px;
  color: grey;
}

.tourDates {
  font-family: var(--brandfont);
  position: absolute;
  top: 110px;
  left: 10px;
  color: grey;
}

.tourJacketLogo {
  position: absolute;
  top: 95px;
  left: 178px;
  width: 20px;
  height: 20px;
}

.tourJacketWinner {
  position: absolute;
  top: 97px;
  left: 203px;
  width: 88px;
  color: var(--par6green);
  font-weight: bold;

}

/* This is the button that expands contracts the tile */
.detailsButton {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
  top: 115px;
  left: 140px;
  background-color: white;
}

.detailsButtonIcon {
  height: 100%;
}

/* This is the HEADER text in each of the expanded sections */
.playersHeader, .coursesHeader, .resultsHeader, .organizerHeader {
  height: 21px;
  line-height: 20px;
  width: 140px;
  font-size: 12px;
  color: grey;
  position: absolute;
}

.playersHeader {
  top:145px;
  left: 10px;
}

.coursesHeader {
  top:145px;
  left: 150px;
}

.resultsHeader {
  top:230px;
  left: 150px;
}

.organizerHeader {
  top: 375px;
  left: 150px;
}

/* This is the BOX that contains the details of each header */
.playersDetailsBox, .coursesDetailsBox, .resultsDetailsBox, .organizerDetailsBox {
  position: absolute;
  width: 135px;
  /* background-color: #f2f2f2; */
}

.playersDetailsBox {
  height: 252px;
  top: 165px;
  left: 10px;
}

.coursesDetailsBox {
  height: 66px;
  top: 165px;
  left: 150px;
}

.resultsDetailsBox {
  height: 126px;
  top: 250px;
  left: 150px;
}


.organizerDetailsBox {
  height: 21px;
  top: 395px;
  left: 150px;
}

/* This is each of the ROWS that contains the details of each header */
.playersDetailsRow, .coursesDetailsRow, .resultsDetailsRow, .organizerDetailsRow {
  height: 21px;
  width: 100%;
  position: relative;
}

/* This is the image/icon in each row */
.playersDetailsImg, .coursesDetailsImg, .resultsDetailsImg, .organizerDetailsImg {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;

}

.playersDetailsImg {
}

.coursesDetailsImg {
}

.resultsDetailsImg {
  background-color: lightgrey;
  text-align: center;
  line-height: 22px;
  font-family: var(--duelfont);
  color: white;
}

.organizerDetailsImg {
  background-color: lightgrey;
}

/* This is the text detail in each row */
.playersDetailsName, .coursesDetailsName, .resultsDetailsName, .organizerDetailsName {
  height: 20px;
  line-height: 20px;
  position: absolute;
  left: 24px;
  color: grey;
}

.playersDetailsName {
  width: 120px;
}

.coursesDetailsName {
  width: 110px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resultsDetailsName {
  width: 120px;
}

.organizerDetailsName {
}

/* INDIVIDUAL TOUR SETTINGS */

/* Bayou Bonanza */
#bonanzaLogo {
  height: 80%;
  margin-top: 5px;
  margin-left: 6px;
}

#bonanzaBackground {
  background-color: var(--bonanzaPurple);
}

#bonanzaTitleText {
  font-family: var(--bonanzaFont);
  color: var(--bonanzaYellow);
  font-size: var(--bonanzaFontSize);
  top: 20px;
  left: 76px;
}

#bonanzaSubTitleText {
  color: white; /*  var(--bonanzaYellow); */
}

#bonanzaButtonOut {
  background-color: var(--bonanzaGreen)
}


/* Duel in the Desert */
#duelLogo {
  height: 70%;
  margin-top: 8px;
  margin-left: 9px;
}

#duelBackground {
  background-color: var(--duelPurple);
}

#duelTitleText {
  font-family: var(--duelfont);
  color: var(--duelOrange);
  font-size: var(--duelfontSize);
  top: 20px;
  left: 75px;
  /* letter-spacing: -0.05em; */
  word-spacing: -0.2em;
}

#duelSubTitleText {
  color: var(--duelLightOrange);
}

#duelButtonOut {
  background-color: var(--duelLightOrange)
}

/* Indy1200 */
#indyLogo {
  height: 70%;
  margin-top: 8px;
  margin-left: 9px;
}

#indyBackground {
  background-color: var(--indyYellow);
}

#indyTitleText {
  font-family: var(--indyfont);
  text-transform: uppercase;
  color: var(--indyBlue);
  font-size: var(--indyfontSize);
  top: 18px;
  left: 80px;
}

#indySubTitleText {
  color: white;
}

#indyButtonOut {
  background-color: var(--indyBlue)
}

/* Savannah Slamma */
#slammaLogo {
  height: 70%;
  margin-top: 8px;
  margin-left: 9px;
}

#slammaBackground {
  background-color: var(--slammaPink);
}

#slammaTitleText {
  font-family: var(--slammafont);
  text-transform: uppercase;
  color: var(--slammaYellow);
  font-size: var(--slammafontSize);
  top: 17px;
  left: 78px;
}

#slammaSubTitleText {
  color: white;
}

#slammaButtonOut {
  background-color: var(--slammaYellow)
}

/* Pin Seeking in the Pines */
#pinesLogo {
  height: 80%;
  margin-top: 7px;
  margin-left: 7px;
}

#pinesBackground {
  background-color: var(--pinesGreenLight);
}

#pinesTitleText {
  font-family: var(--pinesfont);
  text-transform: uppercase;
  color: var(--pinesGreenDark);
  font-size: var(--pinesfontSize);
  top: 22px;
  left: 77px;
}

#pinesSubTitleText {
  color: white;
}

#pinesButtonOut {
  background-color: var(--pinesGreenDark)
}

/* Tennessee Tussle */
#tussleLogo {
  height: 80%;
  margin-top: 7px;
  margin-left: 7px;
}

#tussleBackground {
  background-color: var(--tussleGold);
}

#tussleTitleText {
  font-family: var(--tusslefont);
  text-transform: uppercase;
  color: var(--tussleBrown);
  font-size: var(--tusslefontSize);
  top: 20px;
  left: 77px;
}

#tussleSubTitleText {
  color: white;
}

#tussleButtonOut {
  background-color: var(--tussleBrown )
}

/* The Cowboy Classic */
#dallasLogo {
  height: 75%;
  margin-top: 6px;
  margin-left: 6px;
}

#dallasBackground {
  background-color: var(--dallasBlue);
}

#dallasTitleText {
  font-family: var(--dallasfont);
  text-transform: uppercase;
  color: var(--dallasGrey);
  font-size: var(--dallasfontSize);
  top: 0px;
  left: 82px;
  letter-spacing: 0.05em;
  word-spacing: 0em;
}

#dallasSubTitleText {
  color: white;
  top: 46px;
}

#dallasButtonOut {
  background-color: var(--dallasGrey )
}

/* The Snakepit Challenge */
#snakepitLogo {
  height: 72%;
  margin-top: 8px;
  margin-left: 8px;
}

#snakepitBackground {
  background-color: var(--snakepitGreen);
}

#snakepitTitleText {
  font-family: var(--snakepitfont);
  text-transform: uppercase;
  color: var(--snakepitPink);
  font-size: var(--snakepitfontSize);
  top: 26px;
  left: 75px;
  /* letter-spacing: 0.05em;
  word-spacing: 0em; */
}

#snakepitSubTitleText {
  color: white;
  top: 42px;
}

#snakepitButtonOut {
  background-color: var(--snakepitPink)
}

/* The Tour of Origin */
#originLogo {
  height: 72%;
  margin-top: 8px;
  margin-left: 8px;
}

#originBackground {
  background-color: var(--originGrey);
}

#originTitleText {
  font-family: var(--originfont);
  text-transform: uppercase;
  color: var(--par6green);
  font-size: var(--originfontSize);
  top: 18px;
  left: 80px;
  /* letter-spacing: 0.05em;
  word-spacing: 0em; */
}

#originSubTitleText {
  color: white;
  top: 42px;
}

#originButtonOut {
  background-color: var(--par6green)
}

/* ===REGISTER PAGE=== */

.formContainer {
  height: 400px;
  width: 300px;
  margin: 20px auto;
  border-radius: 10px;
  position: relative;
}

.formIconPar6 {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10px;
  left: 130px;
  background-color: grey;
}

.formTextBox {
  position: absolute;
  left: 25px;
  height: 15px;
  width: 250px;
  text-align: center;
  color: var(--par6green);
  font-size: 12px;
}

#formHeader {
  top: 50px;
}

#formNextTour {
  top: 66px;
  font-weight: bold;
  font-family: var(--bonanzaFont);
  font-size: 1.6rem;
}

#formNextTourDetails {
    top: 87px;
    font-style: italic;
}

.formContentBox {
  height: 235px;
  width: 280px;
  /* background-color: #F2f2f2; */
  position: absolute;
  top: 105px;
  left: 10px;
  /* font-size: 16px; */
}

.formContentRow {
  height: 45px;
  width: 90%;
  /* background-color: grey; */
  margin: 12px auto;
  /* font-size: 16px; */

}

#formCommentsRow {
  height: 50px;
  overflow: hidden;
  background-color: #F2F2F2;

}

.formContentLabel {
  height: 15px;
  margin: 2px 5px;
  color: var(--par6green);
  font-weight: bold;
  /* font-size: 16px; */
}

.formContentEntry {
  height: 30px;
  background-color: #F2F2F2;
  /* font-size: 16px; */

}

#id_player_name, #id_tour_status, #id_comments {
  width: 100%;
  height: 100%;
  border: none;
  /* font-size: 16px; */
}

select, textarea {
  padding: 5px 5px;
  background-color: #f2f2f2;
  color: var(--par6green);
}

select:focus, textarea:focus {
  background-color: var(--par6green);
  color: white;
}

.formSubmitButton {
  height: 30px;
  width: 150px;
  position: absolute;
  bottom: 0px;
  left: 65px;
  border-radius: 10px;
  background-color: var(--par6green);
  border: none;
  color: white;
}

.formSpotsRemainingBox {
  height: 30px;
  width: 130px;
  position: absolute;
  bottom: 15px;
  left: 90px;
}

.formSpotsRemainingNo {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid var(--par6green);
  border-radius: 100%;
  color: var(--par6green);
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  font-family: var(--brandfont)
}

.formSpotsRemainingText {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-left: 0px;
  color: var(--par6green);
  font-family: var(--brandfont)

}

/* === REGEISTER SUCCESS PAGE === */

#formResultHeader {
  top: 50px;
  font-weight: bold;
}

#formResultMessage {
  top: 65px;
}

#formResultID {
  top: 95px;
  height: 60px;
  position: relative;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}

.formPlayerImage {
  height:50px;
  width: 50px;
  position: absolute;
  top: 5px;
  border-radius: 100%;
}

.formPlayerName {
  height: 20px;
  position: absolute;
  top: 15px;
  left: 60px;
  color: var(--par6green);
  font-weight: bold;
}

.formPlayerResponse {
  height: 20px;
  position: absolute;
  top: 30px;
  left: 65px;
  color: var(--par6green);
  background-image:
}

.formResponseIcon {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 15px;
  right: 0px;
}

#formResultSignoff {
    top: 170px;
    width: 80%;
    left: 30px;
}

.formResultGif {
  height: 160px;
  width: 260px;
  position: absolute;
  top: 215px;
  left: 20px;
  border-radius: 10px;

}
